* {
  background: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}


.toptxt {
  position: relative;
  top: 100px;
  width: 550px;
}

.herosection {
  margin: 150px 0 0 100px;
  width: 1250px;
  height: 500px;
}

.herosection h3 {
  font-weight: 200;
  margin: 0;
}

.herosection h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
  width: 100%;
}

.herosection>p {
  font-weight: 550;
  text-indent: 20px;
}

.flex-container {
  display: flex;
  gap: 40px;
  flex-flow: row wrap;
}

.flex-container a {
  text-decoration: none;
}

.D0 a {
  margin: 0 400px 0 100px;
  font-size: 40px;
  font-weight: 600;
  color: #f5c729;
}

.class {
  margin-top: 15px;
}

.class a {
  font-size: 18px;
}

.class a:hover {
  color: #f5c729;
}

.skills {
  float: left;
  margin: 100px 0 0 30px;
  width: 500px;
  font-size: 30px;
}

#picture {
  float: right;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  right: 380px;
  top: -60px;
}

.span {
  font-size: 40px;
  font-weight: 550;
  color: #f5c729;
}

.skillsprojects {
  float: left;
  margin-left: 100px;
  width: 1250px;
}

.projects {
  float: right;
  margin-top: 70px;
  font-weight: 550;
  font-size: 25px;
}

.services {
  text-decoration: underline;
  text-underline-offset: 12px;
  color: #fff !important;
}

.flex-container2 {
  display: flex;
  gap: 100px;
  height: 70vh;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #f5c729;
  font-size: 20px;
  font-weight: 700;
}

.circle span {
  font-size: 30px;
}

.circle span:hover {
  color: #f5c729;
}

#circle1 {
  top: 100px;
  left: 30px;
}

#circle2 {
  top: 100px;
  left: 60px;
}

#circle3 {
  top: 110px;
  left: -40px;
}

#span1 {
  top: 150px;
  left: 105px;
}

#span2 {
  top: 150px;
  left: 117px;
}

#span3 {
  top: 165px;
  left: 75px;
}

#circle1,
#circle2,
#circle3,
#span1,
#span2,
#span3 {
  position: relative;
  margin: 0;
}

.Portfoliopage {
  width: 1250px;
  margin: 600px 0 0 100px;
  height: 100px;
}

#readMoreBtn {
  margin-top: -50px;
  margin-bottom: 90px;
}

.skillsprojects button {
  height: 60px;
  width: 165px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 5px;
  border: 0;
  margin-left: -100px;
  background: rgb(37, 47, 45);
}

.skillsprojects .button {
  text-align: center;
}

.skillsprojects button:hover {
  background: #f5c729;
}

.element {
  text-align: center;
  margin-left: -100px;
}

.grid-container {
  display: grid;
  gap: 20px;
}

.grid-container .img1 {
  width: 720px;
  height: 350px;
}

.grid-container .img2,
.grid-container .img3 {
  width: 500px;
  height: 350px;
  grid-column: 2/3;
}

.grid-container .img2 {
  grid-row: 1/2;
}

.grid-container .img3 {
  grid-row: 2/3;
}


@media (max-width:780px) {

  * {
    max-width: 100vw;

  }

  body {
    margin: 0;
    padding: 0 16px;
    max-width: 100%;
    overflow-x: hidden;
  }

  .herosection {
    width: 100%;
    margin: 80px 0;
    height: auto;
  }


  .toptxt {
    width: 100%;
    top: 0;
  }

  .herosection h1 {
    font-size: 2rem;

  }

  .herosection h3 {
    font-size: 1rem;

  }

  #picture {
    width: 100px;
    height: 100px;
    position: relative;
    top: 20px;
    left: -350px;
    margin-bottom: 100px;
    margin-top: -5px;
  }

  .skillsprojects {
    margin-left: 0px;
    /* width: fit-content; */
  }

  .skillsprojects span {
    font-size: 33px;
  }

  .circle {
    width: 150px;
    height: 150px;
    float: left;

  }

  .flex-container2 {
    margin: 30px 50px;
    min-height: 500px;
    flex-flow: column;
    gap: 30px;
    width: 500px;
    height: 600px;
    margin-left: 10px;
  }


  .circle span {
    font-size: 20px;
  }

  .circle #span1 {
    position: relative;
    top: 60px;
    left: 50px;

  }

  .circle #span2 {
    position: relative;
    top: 60px;
    left: 55px;

  }

  .circle #span3 {
    position: relative;
    top: 100px;
    left: 26px;
  }

  .circle #circle1 {
    position: relative;
    top: 30px;
    left: -14px;
    margin: 0;

  }

  .circle #circle2 {
    position: relative;
    top: 25px;
    left: 8px;
    margin: 0;
  }

  .circle #circle3 {
    position: relative;
    top: 10px;
    left: 45px;
    margin: 0;
  }

  .skillsprojects button {
    width: 150px;
    height: 40px;
    font-size: 15px;
    margin-left: -60px;

  }

  .skillsprojects .button {
    margin-right: 275px;
  }

  .Portfoliopage {
    margin-top: 750px;
    width: 400px;
    margin-left: 0px;
  }

  .grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .grid-container .img1 {
    width: 300px;
    height: 150px;


  }

  .grid-container .img2 {
    width: 300px;
    height: 150px;
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .grid-container .img3 {
    width: 300px;
    height: 150px;
    grid-row: 3/4;
    grid-column: 1/2;

  }

  #img4 {
    grid-row: 2/3;
    grid-column: -2/-1;
  }

  .element {
    margin-top: 800px;

    margin-left: -150px;
  }

  .element span {
    font-size: 35px;


  }


}
